:root {
  --default-color: #CC9933;
  --active-color: #A47312;
  --link-color: #666;
}

/* шрифты */
@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Основные стили */
* {
  box-sizing: border-box;
}

html {
  min-width: 1200px;
  margin: 0;
  font-family: "Muller","Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background-color: #e5e5e5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:  0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

.site-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #333333;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--default-color);
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: var(--default-color);
  transition: color .3s ease, background-color .3s ease;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: var(--default-color);
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn:active {
  border-color: var(--active-color);
  background-color: var(--active-color);
  color: #fff;
}

.link {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: var(--default-color);
  background-color: transparent;
  transition: color .3s ease;
}

.link svg {
  margin-left: 7px;
}

.link path {
  transition: fill .3s ease, stroke .3s ease;
}

.link:hover, .link:focus {
  color: var(--default-color);
}

.link:focus {
  outline: 1px solid var(--default-color);
}

.link:active {
  color: var(--active-color);
  outline: none;
}

.link:hover path[fill], .link:focus path[fill] {
  fill: var(--default-color);
}

.link:hover path[stroke], .link:focus path[stroke] {
   stroke: var(--default-color);
 }

.link:active path[fill] {
  fill: var(--active-color);
}

.link:active path[stroke] {
  stroke: var(--active-color);
}

/* header */
.header {
  margin-bottom: 40px;
  padding-top: 30px;
}

.header__links {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 40px;
  line-height: 0;
}

.header__contact {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #666666;
}

.header__login {
  align-items: flex-start;
  margin-left: auto;
}

.header__login svg {
  margin-right: 7px;
  margin-left: 0;
 }

.header__login:hover path[fill] {
  fill: #E9C379;
}

.header__login:hover {
  color: #E9C379;
}

.header__login:active path[fill] {
  fill: var(--active-color);
}

.header__login:active {
  color: var(--active-color);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 45px;
  border-radius: 15px;
  background-color: #fff;
}
.header__nav {
  max-height: 50px;
}

.nav__list {
  display: flex;
  font-size: 0;
}

.nav__item {
  margin-right: 45px;
  padding: 17px 0;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.nav__link {
  color: var(--link-color);
}

.nav__link:hover, .nav__link:focus {
  color: var(--default-color);
}

.nav__link:focus {
  outline: 1px solid var(--default-color);
}

.nav__link:active {
  color: var(--active-color);
  outline: none;
}

.header__menu-btn {
  font-size: 0;
}

.header__btn:not(:first-child) {
  margin-left: 40px;
}

/* main*/
.main {
  margin-bottom: 19px;
}

/* Спецпредложения */
.special {
  margin-bottom: 70px;
}

.special__offer {
  display: flex;
}

.special__left {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 49%;
  margin-right: 23px;
}

.offer {
  flex-grow: 1;
}

.offer-small {
  align-self: stretch;
  margin-bottom: 23px;
  padding: 40px;
  border-radius: 15px;
}

.offer-small--top {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%) no-repeat,
    url("../img/21.png") no-repeat;
  background-size: cover;
}

.offer-small--bottom {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%) no-repeat,
    url("../img/22.png") no-repeat;
  background-size: cover;
}

.offer-small:last-child {
  margin-bottom: 0;
}

.offer__heading {
  display: block;
  max-width: 299px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.offer__price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.offer__details {
  max-width: 115px;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
}

.offer__details:active {
   color: #fff;
}

.offer__details:active path[stroke] {
  stroke: #fff;
}

.offer-big {
  max-width: 49%;
  margin-right: auto;
  padding: 210px 40px 40px;
  border-radius: 15px;
  background-image: url("../img/33.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* О нас */
.about {
  margin-bottom: 70px;
  max-width: 888px;
}

.about__description {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}

/* Услуги */
.services {
  margin-bottom: 70px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  flex-grow: 1;
  max-width: 49%;
  border-radius: 15px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
}

.services__item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 23px;
}

.services__item--service {
  background-image: url("../img/10.jpg");
}

.services__item--banquet-hall {
  background-image: url("../img/15.jpg");
}

.services__item--fitness {
  background-image: url("../img/12.jpg");
}

.services__item--parking {
  background-image: url("../img/14.jpg");
}

.service {
  padding: 190px 45px 45px;
}
.service__heading {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
}

.service__name:hover {
  color: #E9C379;
}

.service__name:hover path[stroke] {
  stroke: #E9C379;
}

.service__description {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}

/* Преимущества */
.advantage {
  margin-bottom: 70px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
}

.advantage__item {
  height: 100%;
  flex-grow: 1;
  max-width: 23.5%;
  padding: 116px 42px 41px 45px;
  border-radius: 15px;
  background: no-repeat 45px 40px #fff;
}

.advantage__item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantage__item:not(:nth-last-child(-n+4)) {
  margin-bottom: 23px;
 }

.advantage__description {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}

.advantage__item--bathtub {
  background-image: url("../img/bathtub.svg");
}

.advantage__item--hanger {
  background-image: url("../img/hanger.svg");
}

.advantage__item--heating {
  background-image: url("../img/heating.svg");
}

.advantage__item--hotel-key {
  background-image: url("../img/hotel-key.svg");
}

.advantage__item--parking {
  background-image: url("../img/parking.svg");
}

.advantage__item--reception {
  background-image: url("../img/reception.svg");
}

.advantage__item--security-box {
  background-image: url("../img/security-box.svg");
}

.advantage__item--swimming-pool {
  background-image: url("../img/swimming-pool.svg");
}

/* Размещение */
.place {
  margin-bottom: 70px;
}

.place__list {
  display: flex;
  flex-wrap: wrap;
}

.place__item {
  flex-grow: 1;
  max-width: 32.1%;
  margin-bottom: 23px;
}

.place__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.place__item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.place-article {
  border-radius: 15px;
  background-color: #fff;
  line-height: 0;
}

.place-article__description {
  padding: 36px 46px 41px 45px;
}

.place-article__grade {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.price__grey {
  font-weight: 400;
  color: #999;
}

.price__dark {
  font-weight: 400;
}

.place-article__name {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.place-article__locality {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  color: #999;
}

.all-place {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 27px;
  background: url("../img/41.png") no-repeat center center transparent;
  background-size: cover;
  border-radius: 15px;
}

.all-place__link {
  margin: 0;
  padding-right: 15px;
  background: url("../img/arrow-right-white.svg") no-repeat center right transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  color: #fff;
}

.all-place__link::before, .all-place__link::after {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
}

/* форма */
.section-form {
  margin-bottom: 70px;
  padding: 38px 45px 71px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

.form__heading {
  padding-left: 0;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  background-color: #fff;
  border-radius: 15px;
}

.form__label {
  padding-right: 20px;
  border-right: 1px solid #E1E1E1;
  font-size: 12px;
  line-height: 1;
}

.form__label:not(:first-child) {
  padding-left: 20px;
}

.form__input {
  width: 100%;
  margin-top: 15px;
  border: none;
  font-size: 16px;
  line-height: 1;
}

.city-dispatch, .country, .date {
  max-width: 18%;
  flex-grow: 1;
}

.night-count, .people-count {
  max-width: 16.5%;
}

.night-count .form__input, .people-count .form__input {
  border-bottom: 1px solid #CCCCCC;
}

.form__btn-submit {
  margin-left: auto;
  padding: 13px 30px;
  align-self: center;
}

/* контакты */
.contacts {
  display: flex;
  padding: 45px;
  background: url("../img/42.jpg") no-repeat 91% 50% #FFF border-box;
  background-clip: padding-box;
  border-radius: 15px;
}

.contacts__list {
  display: flex;
  max-width: 37%;
  flex-direction: column;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__item:not(:last-child) {
  margin-bottom: 25px;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 23px;
}

.contacts__item:nth-last-child(2) {
  margin-bottom: 45px;
}

.contacts__name {
  max-width: 40%;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.contact__address {
  max-width: 60%;
  min-width: 60%;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #000;
}

.contacts__tel {
  display: block;
  line-height: 1.5;
}

.contacts__email {
  display: block;
  line-height: 1.5;
}

.email__description {
  display: block;
  color: #999;
}

.contacts__btn {
  padding: 27px 29px;
}

/* футер */
.footer {
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #333333;
}

.footer__container {
  display: flex;
  padding: 44px 52px 46px 51px;
  background: url("../img/footer-logo.png") no-repeat 80% 100% transparent;
}

.copy-right {
  max-width: 320px;
  margin-right: 102px;
  font-size: 16px;
  line-height: 1.9;
  color: #FFF;
}

.copy-right__info {
  margin-bottom: 50px;
}

.copy-right__description {
  margin-top: 0;
  margin-bottom: 50px;
}

.terms {
  line-height: 1.5;
}

.footer__address {
  max-width: 40%;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 14px;
}

.address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.address-tel {
  margin-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.address__email {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.terms:hover, .contacts__email:hover, .contacts__tel:hover {
  color: #E9C379;
}

.terms:active, .contacts__email:active, .contacts__tel:active {
  color: var(--active-color);
}

.social {
  margin-left: auto;
  max-width: 10%;
}

.footer__social-list {
  font-size: 0;
}

.footer__social-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.footer__social-link:focus {
  outline: none;
}
